@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
body {
    background-color: black;
}

p {
    text-indent: 6em;
    margin-top: 20px;
    color: white;
}

h1 {
    text-indent: 6em;
    margin-top: 20px;
    color: white;
}

hr {
    width: 90%;
}

.grid-image {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 50px 0;
    justify-content: center;
}

.grid-image img {
    /* width: calc(33.333% - 10px);
    margin: 0 15px 15px 0; */

    width: 250px;
    height: 350px;
    float: none;
    margin-left: 50px;
    border: 5px double lightslategray;
    display: block;
    }

.grid-image img:nth-of-type(3n),
.grid-image img:last-child {
    margin-right: 0;
}

@media screen and (max-width:640px) {
    .grid-image img {
        width: calc(50% - 15px);
    }
}

@media screen and (max-width:480px) {
    .grid-image img:nth-of-type(2n) {
        margin-right: 0;
    }

    .grid-image img:nth-of-type(3n) {
        margin-right: 15px;
    }

}

textarea {
        width: 25%;
        height: 6.25em;
        border: none;
        resize: none;
        
}

table {
    border-color: #6b685f;
    margin-left: 60%;
    margin-bottom: 30px;
}

td { 
    color: white;
}

th {
    color: white;
}

.star_rating {
    margin-left: 150px;
}

span {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 2.5em; color: white; left: auto;

}

.comment {
    margin-left: 10%; color: white;
}

.poster {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 300px; float: left;
}

.movie_title {
    margin-left: 40%;
    font-size: 50px; font-weight: bold;
    color: skyblue;
}

.slam {
    margin-left: 30%;
}

.jung {
    font-size: 30px; font-weight: bold;
    margin-left: 50px;
}

.com {
    font-size: 30px; font-weight: bold;
    margin-left: 80px;
}

.gif {
    margin-left: 300px;
    height: 500px;
}


/* 별점 */
#myform fieldset{
display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
border: 0; /* 필드셋 테두리 제거 */
}
#myform input[type=radio]{
display: none; /* 라디오박스 감춤 */
}
#myform label{
font-size: 3em; /* 이모지 크기 */
color: transparent; /* 기존 이모지 컬러 제거 */
text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
#myform label:hover{
text-shadow: 0 0 0 #a00; /* 마우스 호버 */
}
#myform label:hover ~ label{
text-shadow: 0 0 0 #a00; /* 마우스 호버 뒤에오는 이모지들 */
}
#myform fieldset{
display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
direction: rtl; /* 이모지 순서 반전 */
border: 0; /* 필드셋 테두리 제거 */
}
#myform fieldset legend{
text-align: left;
}
#myform input[type=radio]:checked ~ label{
text-shadow: 0 0 0 #a00; /* 마우스 클릭 체크 */
}
/* 별점 */